*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

:root {
    --red-color: #C4271B;
    --dark-blue-color: #001F40;
    --light-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 200px;
}
.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: black;
  font-size: 16;
  text-decoration: none;
  font-weight: bold;
}
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #C4271B;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.container {
  position: relative;
}

.fpciumm {
  position: absolute;
  top: 170px;
  left: 50px;
  font-size: 48px;
  font-weight: bold;
  color: white;
}

img { 
  display: block;
  width: 100%;
  height: auto;
  margin-left: 0%;
  margin-right: 0%;
}

.fpci_umm {
  position: absolute;
  top: 330px;
  left: 50px;
  font-size: 20px;
  color: white;
}

.articles {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 40px;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.blog-box {
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.blog-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.blog-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.blog-text span {
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  text-decoration: underline;
}

.blog-text .blog-title:hover {
  color: #C4271B;
  transition: all ease 0.3s;
}

.blog-date {
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 4px;
}

.blog-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
}

.blog-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-ktt {
  background: hsl(216, 15%, 52%);
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.ktt {
  width: 90%;
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ktt-img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}

.ktt-isi {
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.ktt-isi-bold {
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.container-presidensi {
  max-width: 800px;
  margin: auto;
  width: 100%;
  font-size: 20px;
  border-radius: 5%;
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  
}

#section-wrapper{
  width: 100%;
  padding: 10px;
}
.box-wrapper{
  position: relative;
  display: table;
  width:1100px;
  margin:auto;
  margin-top:35px;
  border-radius: 30px;
}
.info-wrap{
  width:35%;
  height: 551px;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
  color: #fff;
}
.info-title{
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.info-sub-title{
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.info-details {
  list-style: none;
  margin: 60px 0px;
}
.info-details li {
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}
.info-details li i {
  background: #C4271B;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
}
.info-details li a {
  color: #fff;
  text-decoration: none;
}
.info-details li a:hover {
  color: #C4271B;
}
.social-icons {
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li i {
  background: #C4271B;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .5s;
}
.social-icons li i:hover {
  background: #fff;
  color: #000000;
}
.form-wrap{
  width:65%;
  float: right;
  padding:40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
}
.form-title{
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color:#555;
  padding: 20px 10px 20px 5px;
  width:100%
}
.form-fields textarea{
  height: 150px;
  resize: none;
}
.form-group{
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  font-family: 'Poppins', sans-serif;
}
.form-fields .form-group:last-child {
  width: 96%;
}
.submit-button{
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background: #C4271B;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}
.submit-button:hover{
  background: #31279d;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
  .box-wrapper{
      width: 100%;
  }
  .info-wrap,
  .form-wrap{
      width: 100%;
      height: inherit;
      float: none;  
  }
  .info-wrap{
      border-radius: 30px 30px 0px 0px;
  }
  .form-wrap{
      border-radius: 0px 0px 30px 30px;
  }
  .form-group{
      width: 100%;
      float: none;
      margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
      width: 100%;
  }
  .submit-button{
      margin: 10px 0px;
  }
 
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.column {
  width: 100%;
  padding: 0.5em 0;
  margin-left: auto;
  margin-right: auto;
}

.column2 {
  width: 70%;
  padding: 0.5em 0;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 8em;
  height: 8em;
  background-color:#C4271B;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.card:hover {
  background:#4d0500;
  color: #ffffff;
}
.card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}